body {
    text-align: center;
    font-family: Arial;
    background: #f0f0f0;
}

#mainImage {
    width: 350px;
    margin-top: 40px;
    user-select: none;
}

.hidden {
    display: none;
}

#sudokuContainer {
    margin-top: 30px;
}

#sudokuGrid {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 5px;
    justify-content: center;
}

#sudokuGrid input {
    width: 50px;
    height: 50px;
    font-size: 22px;
    text-align: center;
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 5px;
}

#message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
